@charset "UTF-8";
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__part {
  color: #2196f3;
}
.logo__label {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 80;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  display: block;
}
@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-wrap__button:focus, .menu-wrap__button:hover {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .menu-wrap__button {
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrap__button {
    display: none;
  }
}

.menu-wrap__icon {
  fill: currentColor;
}

.menu-wrap {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background: #ffffff;
  }
}

.menu-wrap.is-open .menu-wrap__button--off {
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (max-width: 767px) {
  .menu-wrap.is-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 48px 40px;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 1;
  }
}

.header__logo {
  color: #212121;
}

.nav__list {
  display: block;
}
@media screen and (max-width: 767px) {
  .nav__list {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:first-child) {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.nav__link {
  color: #212121;
  -webkit-transition: color 250ms var(--hover-timing);
  transition: color 250ms var(--hover-timing);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .nav__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:first-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-left: 30px;
  }
}

.nav__link--current {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__link--current {
    position: relative;
  }
  .nav__link--current::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.contacts__link {
  display: block;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms var(--hover-timing);
  transition: color 250ms var(--hover-timing);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 479px) {
  .contacts__link {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__link {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 479px) {
  .contacts__link--biggest {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__link--biggest {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.contacts__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 479px) {
  .networks-list {
    margin-right: -10px;
    margin-top: -10px;
  }
}
@media screen and (min-width: 768px) {
  .networks-list {
    display: none;
  }
}

.networks-list__item {
  width: calc(100% - 20px)/2;
  margin-right: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 479px) {
  .networks-list__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 480px) {
  .networks-list__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.networks-list__link {
  padding-right: 10px;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (max-width: 479px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img-480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    margin-top: 60px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img-480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img-480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img-480@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img-768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img-768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img-768@2x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img-1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img-1600@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img-1600@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero__title {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.title {
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.benefits {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__title {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .benefits__list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__subtitle {
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .benefits__subtitle {
    text-align: center;
  }
}

.benefits__text {
  line-height: 1.71;
}

/* Оформление деятельности */
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 94px;
  }
}

.about-title {
  margin-bottom: 50px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  margin-right: 30px;
}
.work__item:nth-child(3n) {
  margin-right: 0;
}

.work-thumb {
  position: relative;
}

.work-thumb__title {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms var(--hover-timing);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms var(--hover-timing);
}

.networks__link--light {
  color: #afb1b8;
}
.networks__link--dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.networks__link:hover, .networks__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.networks__icon {
  fill: currentColor;
}

/* Команда */
.team {
  background-color: #f5f4fa;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .team {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

@media screen and (max-width: 1199px) {
  .team__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .container__list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .container__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team-list__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-container {
  padding: 30px 32px;
}

.team-container__title,
.team-container__text {
  font-size: 16px;
  line-height: 1.18;
}

.team-container__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
}

.team-container__text {
  margin-bottom: 16px;
}

/* Клиенты */
@media screen and (max-width: 1199px) {
  .customers {
    padding: 60px 0;
  }
  .customers__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0;
  }
  .customers__title {
    margin-bottom: 50px;
  }
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.customers-list__item {
  margin: 15px;
}
@media screen and (max-width: 767px) {
  .customers-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.customers-list__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover, .customers-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.customers-list__icon {
  fill: currentColor;
}

/* Оформление подвала */
.footer {
  margin: 0 auto;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .adress {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .adress-wrap {
    margin-bottom: 60px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.adress-list__text {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.adress-list__link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list__link:hover, .adress-list__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .networks-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .networks-container {
    margin-left: 70px;
  }
}

.container__text {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.networks__link--dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1199px) {
  .subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-container {
    margin-left: auto;
  }
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-form .subscribe-form__label {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form .subscribe-form__label {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form .subscribe-form__label {
    width: 358px;
  }
}
.subscribe-form .subscribe-form__input {
  padding-left: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form .subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.subscribe-form .subscribe-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.subscribe-form .subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.subscribe-form .subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.subscribe-form .subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.subscribe-form .subscribe-form__button {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199px) {
  .subscribe-form .subscribe-form__button {
    margin: 20px auto 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form .subscribe-form__button {
    margin-left: 12px;
  }
}
.subscribe-form .subscribe-form__icon {
  margin-left: 10px;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}
.backdrop.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .backdrop.backdrop--is-hidden .modal-content {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal-content {
  position: relative;
  max-width: 450px;
  height: 609px;
  margin: 0 auto;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal-content {
    max-width: 528px;
    height: 581px;
  }
}

.modal-content__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content__button:hover, .modal-content__button:focus {
  cursor: pointer;
  color: #2196f3;
}

.modal-content__icon {
  fill: currentColor;
}

.feedback {
  width: 100%;
  margin: 0 auto;
}

.feedback__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.feedback__label {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.feedback__input,
.feedback__message {
  width: 100%;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__input:focus-within {
  border-color: #2196f3;
  outline: none;
}

.feedback__message:focus-within {
  border-color: #2196f3;
  outline: none;
}

.feedback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__input:focus-within + .feedback__icon {
  fill: #2196f3;
}

.feedback__part {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.feedback__message {
  margin-bottom: 20px;
  resize: none;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.feedback__comment::-webkit-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback__comment::-moz-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback__comment:-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback__comment::-ms-input-placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback__comment::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback__accord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form__checkbox {
  display: inline-block;
  margin: 0 auto;
}

.feedback__field {
  display: inline-block;
  max-width: 16px;
  width: 100%;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form__checkbox:checked + .feedback__field {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
}

.feedback__consent {
  margin: 0;
  padding-left: 7px;
  color: #757575;
}

.feedback__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .feedback__consent,
.feedback__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__consent,
.feedback__link {
    line-height: 1.71;
  }
}

.feedback__button {
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__button:hover, .feedback__button:focus {
  background-color: #188ce8;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */