//Герой
.hero {
  margin: 0 auto;

  text-align: center;
  background-color: $secondary-bgc;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (max-width: 767px) {
    max-width: 480px;
    height: 400px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-img-480.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main-img-480@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-img-768.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main-img-768@2x.jpg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-img-1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main-img-1600@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.hero__title {
  color: $secondary-accent-color;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  text-transform: uppercase;
  @media screen and (max-width: 1199px) {
    width: 360px;

    font-weight: 900;
    @include view(26px, 1.61, 0.06em);
  }
  @media screen and (min-width: 1200px) {
    width: 696px;

    font-weight: 900;
    @include view(44px, 1.36, 0.06em);
  }
}
.hero__button {
  margin-top: $margin-item;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms $hover-timing, box-shadow 250ms $hover-timing;
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
