//Общие
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: $primary-color-text;
  background-color: $primary-bgc;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  /* outline: 2px solid tomato; */
}
